#alert_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    > #alert_wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        background: white;
        border-radius: 8px;
        overflow: hidden;

        > #alert_header {
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > #alert_body {
            padding: 8px 8px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
        }

        > #alert_footer {
            display: flex;
            height: 40px;

            > .vertical-line {
                flex-shrink: 0;
                width: 1px;
                height: 100%;
                background-color: #e5e5e5;
            }

            > .custom-button {
                flex-shrink: 1;
                width: 100%;
                height: 100%;
                border-radius: 0;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }

    > #alert_overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
